@charset "UTF-8";
/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

img {
  width: 100%;
  vertical-align: top;
}

@media (min-width: 751px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }
}
@media (max-width: 750px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 750px) {
  header {
    background-color: #f0f0f0;
  }
}

@media (min-width: 751px) {
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding-left: 100px;
  }
}

@media (min-width: 751px) {
  .logo {
    max-width: 100px;
    height: 25px;
    margin-right: 60px;
  }
}
@media (max-width: 750px) {
  .logo {
    max-width: 80px;
    height: 20px;
    padding-top: 16px;
    margin-left: 16px;
  }
}

.menu {
  font-size: 14px;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .menu {
    margin-top: 23.5px;
    margin-left: 16px;
    margin-bottom: 15px;
  }
}

.menu-list:not(:last-child) {
  margin-right: 30px;
}

@media (min-width: 751px) {
  .inquiry {
    margin-left: auto;
    margin-right: calc(53% - 50vw);
    max-width: 200px;
    height: 80px;
    background-color: black;
    color: white;
    padding: 31px 60px;
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .inquiry {
    display: none;
  }
}

.main-visual {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
@media (min-width: 751px) {
  .main-visual {
    height: 900px;
  }
}
@media (max-width: 750px) {
  .main-visual {
    height: 600px;
  }
}
.main-visual img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #f0f0f0;
}

@media (min-width: 751px) {
  .NEWS__wrapper {
    padding: 120px 0px;
  }
}
@media (max-width: 750px) {
  .NEWS__wrapper {
    padding-top: 80px;
  }
}

.tetle {
  width: 140px;
  font-size: 36px;
  text-align: left;
  letter-spacing: 10.8px;
}

.border {
  position: relative;
}

.border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px; /* 下線の上下位置調整 */
  width: 45px; /* 下線の幅 */
  height: 1px; /* 下線の太さ */
  background-color: black;
}

.NEWS {
  margin-top: 96px;
  display: flex;
}

@media (min-width: 751px) {
  .NEWS__list {
    display: flex;
  }
  .NEWS__list li:not(:last-child) {
    padding-right: 70px;
    border-right: 1px solid black;
  }
  .NEWS__list li:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 750px) {
  .NEWS__list li:not(:last-child) {
    margin-bottom: 40px;
  }
}

time {
  font-size: 14px;
}

span {
  display: inline-block;
  font-size: 12px;
  max-width: 50px;
  height: 20px;
  padding: 1px 5px;
  margin-left: 10px;
  background-color: black;
  color: white;
}

.NEWS__text {
  margin-top: 16px;
  font-size: 16px;
}

@media (min-width: 751px) {
  .ABOUT__wrapper {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}
@media (max-width: 750px) {
  .ABOUT__wrapper {
    margin-top: 90px;
  }
}

@media (min-width: 751px) {
  .ABOUT__flex {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 751px) {
  .ABOUT_image {
    margin-bottom: 246px;
    margin-right: 70px;
  }
  .ABOUT_image img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 750px) {
  .ABOUT_image {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    height: 300px;
  }
  .ABOUT_image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 751px) {
  .ABOUT__wrapper-text {
    width: 40%;
    padding-top: 150px;
  }
}
@media (max-width: 750px) {
  .ABOUT__wrapper-text {
    margin-top: 30px;
  }
}

@media (min-width: 751px) {
  .ABOUT__text {
    margin-top: 86px;
    margin-right: 89px;
    font-size: 14px;
    line-height: 30px;
  }
}
@media (max-width: 750px) {
  .ABOUT__text {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

@media (min-width: 751px) {
  .business__list {
    margin-right: calc(80% - 50vw);
    margin-left: calc(80% - 50vw);
    display: flex;
  }
}

@media (min-width: 751px) {
  .flex-left {
    width: 48%;
    margin-right: 64px;
    margin-top: 150px;
  }
}
@media (max-width: 750px) {
  .flex-left {
    margin-top: 60px;
  }
}

@media (min-width: 751px) {
  .flex-right {
    margin-top: 50px;
    width: 48%;
  }
}

.sec-name {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .sec-image {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media (min-width: 751px) {
  .sec-image:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (min-width: 751px) {
  .COMPANY__wrapper {
    margin-top: 120px;
    display: flex;
  }
}
@media (max-width: 750px) {
  .COMPANY__wrapper {
    margin-top: 80px;
  }
}

@media (min-width: 751px) {
  .company-info {
    width: 55%;
    height: 640px;
    background-color: #ffffff;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    margin-bottom: 110px;
  }
}
@media (max-width: 750px) {
  .company-info {
    background-color: #ffffff;
    padding: 40px 30px 40px 20px;
  }
}

.wrapper-text {
  margin-top: 86px;
  font-size: 14px;
}
@media (min-width: 751px) {
  .wrapper-text dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .wrapper-text dt {
    width: 20%;
  }
  .wrapper-text dd {
    width: 80%;
    line-height: 30px;
  }
}
@media (max-width: 750px) {
  .wrapper-text dt {
    margin-bottom: 5px;
  }
  .wrapper-text dd {
    margin-bottom: 8px;
    padding-left: 14px;
    padding-right: 10px;
  }
  .wrapper-text dd:first-of-type {
    margin-bottom: 20px;
  }
}

.wrapper-image {
  height: 400px;
}
.wrapper-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 751px) {
  .wrapper-image {
    max-width: 547px;
    position: absolute;
    right: 200px;
    margin-top: 120px;
  }
}
@media (max-width: 750px) {
  .wrapper-image {
    margin-top: 20px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  max-width: 100px;
  height: 25px;
  margin-top: 80px;
  margin-right: 60px;
}

.adress {
  margin-top: 40px;
  margin-bottom: 64px;
  font-size: 14px;
}

.small {
  font-size: 12px;
  margin-bottom: 20px;
}/*# sourceMappingURL=WED.css.map */