@import "_settings.scss";
.container {
  @include pc {
    max-width: 1000px;
    margin: auto;
  }
}
.header-list {
  @include pc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding-left: 100px;
  }
}
.header-logo {
  @include pc {
    max-width: 100px;
    height: 25px;
    margin-right: 60px;
  }
  @include sp {
    max-width: 80px;
    height: 20px;
  }
}
.menu {
  font-size: 14px;
  @include pc {
    display: flex;
    align-items: center;
  }
}
.menu-list:not(:last-child) {
  margin-right: 30px;
}
.inquiry {
  margin-left: auto;
  margin-right: calc(53% - 50vw);
  max-width: 200px;
  height: 80px;
  background-color: black;
  color: white;
  padding: 31px 60px;
  font-size: 12px;
}
.main-visual {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: 900px;
  img {
    height: 100%;
    object-fit: cover;
  }
}
main {
  background-color: #f0f0f0;
}
.NEWS__wrapper {
  padding: 120px 0px;
}
.tetle {
  width: 140px;
  font-size: 36px;
  text-align: left;
  letter-spacing: 10.8px;
}
.border {
  position: relative;
}
.border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px; /* 下線の上下位置調整 */
  width: 45px; /* 下線の幅 */
  height: 1px; /* 下線の太さ */
  background-color: black;
}
.NEWS {
  margin-top: 96px;
  display: flex;
}
.NEWS__list {
  display: flex;
  li:not(:last-child) {
    padding-right: 70px;
    border-right: 1px solid black;
  }
  li:not(:first-child) {
    margin-left: 20px;
  }
}
time {
  font-size: 14px;
}
span {
  display: inline-block;
  font-size: 12px;
  max-width: 50px;
  height: 20px;
  padding: 1px 5px;
  margin-left: 10px;
  background-color: black;
  color: white;
}
.NEWS__text {
  margin-top: 16px;
  font-size: 16px;
}
.ABOUT__wrapper {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.ABOUT__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ABOUT_image {
  img {
    display: block;
    width: 100%;
    height: 400px;
  }
}
.ABOUT__wrapper-text {
  width: 40%;
  padding-top: 150px;
}
.ABOUT__text {
  margin-top: 86px;
  margin-right: 89px;
  font-size: 14px;
  line-height: 30px;
}
