@import "_settings.scss";
.container {
  @include pc {
    max-width: 1000px;
    margin: auto;
  }
}
.header-list {
  @include pc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding-left: 100px;
  }
}
.header-logo {
  @include pc {
    max-width: 100px;
    height: 25px;
    margin-right: 60px;
  }
  @include sp {
    max-width: 80px;
    height: 20px;
  }
}
.menu {
  font-size: 14px;
  @include pc {
    display: flex;
    align-items: center;
  }
}
.menu-list:not(:last-child) {
  margin-right: 30px;
}
.inquiry {
  margin-left: auto;
  margin-right: calc(53% - 50vw);
  max-width: 200px;
  height: 80px;
  background-color: black;
  color: white;
  padding: 31px 60px;
  font-size: 12px;
}
.main-visual {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: 900px;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.wrapper-title {
  width: 140px;
  .tetle {
    font-size: 36px;
    text-align: left;
    letter-spacing: 10.8px;
  }
}
.border {
  position: relative;
}
.border::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%; /* 位置調整 */
  transform: translate(-50%); /* 位置調整 */
  bottom: -10px; /* 下線の上下位置調整 */
  width: 30px; /* 下線の幅 */
  height: 2px; /* 下線の太さ */
}
